# Output and logs
nohup.out
errors.txt
*.log

# Temp and backup files
*~
.#*
*.swp
*.bak
*.backup*

# Build files
# quickshell/matugen
quickshell/matugen/dms-theme.vsix
quickshell/matugen/vsix-build/

# Plugin dependencies

# DankMaterialShell
**/DankMaterialShell/plugins/.repos/
**/DankMaterialShell/plugins/*.meta
**/DankMaterialShell/.firstlaunch
**/DankMaterialShell/.changelog-*
